.background-pattern {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    // background-color: #e5e5f7 !important;
    opacity: 0.2 !important;
    background-image: url("../../../../public/assets/images/background-skills.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  
    // z-index: 0 !important;
    
  }