.footer {
    padding: 5em 0em;
    min-height: 50vh;
    background: #0a0a0a;
    // margin-top: 2em !important;
  
    .ui.header {
      color: white;
    }
  
    p {
      color: #ddd;
    }
  }

  .footer__container{
    margin-top: 4em !important;
  }