@use "../../abstracts/variables" as *;


.services {
  min-height: 100vh !important;
  width: 100%;
  background: $color-neutral-100 !important;
  background-image: url("../../../../public/assets/images/background-skills.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;

}

.services .ui.header.services__title{
  font-size: 2.5em !important;
  color: $color-neutral-100  !important;
  margin-bottom: 2em !important;
  // text-align: center;
  // margin: 2em 0 2em !important;
}

.services__cell{
}