$color-bg: #0a0a0a;
$color-text: #ffffff;
$color-muted: #dddddd;

$color-neutral-50: #fafafa;
$color-neutral-100: #f5f5f5;
$color-neutral-300: #d4d4d4;
$color-neutral-500: #737373;
$color-neutral-700: #404040;
$color-neutral-900: #0a0a0a;

$color-red-900: rgba(255, 53, 53, 1)