@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.skills{

    padding: 8em !important;
    background-color: red !important;

    &--mobile{
        padding: 1em !important;
    }

}

.skills__title{
    font-size: 2.5em !important;
    margin-bottom: 2em !important;
    text-align: center !important;
    position: relative !important;
    // z-index: 1 !important;
    color: $color-neutral-900 !important;
}