@use "../../abstracts/variables" as *;

.service-card {
    width: 100% !important;
    // max-width: 50vh !impo?rtant;
    padding: 1em !important;
    // display: flex !important;
    // flex-direction: column !important;
    // justify-content: space-between !important;
    min-height: 100% !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
    transition: box-shadow 0.3s ease !important;

    .icon{
      color: $color-neutral-900 !important;
    }
  }
  
  .service-card__description {
    font-size: 1em !important;
    text-align: justify !important;
    margin-top: 1em !important;
  }
  
  .service-card__list {
    text-align: left !important;
    margin-top: 0.8em !important;
  
    .item { 
      
      line-height: 1.5 !important;
      // color: $color-red-900 !important;
      
      &::before {
        color: $color-red-900 !important;
        font-size: 1.2em;
      }

    }
  }
  
.ui.card.service-card.card-hover-effect:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12) !important;
}

.card-hover-effect:hover {
  background-color: $color-neutral-700 !important;
  // color: white !important;
  transform: translateY(-5px) !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.ui.header.service-card-title {
  color: $color-red-900 !important;
}

// .ui.header.service-card-title *{
//   color: $color-red-900 !important;
// }

.card-hover-effect:hover {
  i.icon {
    color: $color-neutral-100 !important;
  }

  .service-card-title{
    color: $color-neutral-100 !important;
  }
  
}

// .card-hover-effect:hover *{
//   i.icon {
//     color: $color-red-900 !important;
//   }
// }