.parallaxContainer {
    height: var(--parallax-height, 60vh);
    overflow: hidden;
    position: relative;
    background-color: #000;
  }
  
  .parallaxImage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 130%;
    background-image: var(--parallax-image);
    background-size: cover;
    background-position: center;
    will-change: transform;
    transform: translate(-50%, calc(-50% + var(--parallax-offset, 0px)));
    transition: transform 0.05s linear;
  }