@use "../../abstracts/variables" as *; 

.certificates {
    padding: 8em !important;
    background-color: $color-neutral-50 !important;
    overflow: hidden !important;
    background-image: url("../../../../public/assets/images/background-certs.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  
    .certificates__title {
      font-size: 2.5em !important;
      text-align: center !important;
      margin: 0 0 1.5em !important;
      // position: relative !important;
      // z-index: 1 !important;
      color: $color-red-900;
    }
  
    .certificates__grid {
      position: relative !important;
      z-index: 1 !important;
      
    }
  
    .certificates__cell {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      .items{
        background-color: rgba(255, 255, 255, 0.5) !important;
        backdrop-filter: blur(10px) !important;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
        width: 100%;
        padding: 1em;
        border-radius: 15px;
      }
    }
  
    .certificates__itemLabel {
      font-size: 1.3em !important;
      font-weight: 700 !important;
      color: $color-neutral-900 !important;
    }
  }
  
  @media (max-width: 768px) {
    .certificates {
      padding: 3em !important;
    }
  }
  