@use "../../abstracts/variables" as *;

.banner {
    
    background: #0a0a0a !important;
    min-height: 30vh !important;
    margin-top: 2em !important;
    margin-bottom: 2em !important;

  
    &__container {
    }
  
    
    &__left,
    &__right {
    }
  
    &__title {
      font-size: 4em !important;
      color: $color-neutral-50 !important;
    }
  
    &__description {
      font-size: 1.3em !important;
      color: $color-neutral-100 !important;
      line-height: 1.8em !important;
    }

    &__list.ui.list {
      color: $color-neutral-100 !important;
      padding: 2em !important;
    }

    &__list.item {
      margin: 1vh;
    }
  
    &__cta.ui.button {
      background-color: transparent !important;
      color: white !important;
      border: 2px solid white !important;
      border-radius: 8px !important;
      padding: 0.9em 2em !important;
      font-weight: bold !important;
      transition: all 0.3s ease !important;

      &:hover {
        background-color: white !important;
        color: #000 !important;
      }
    }
  
  }
  
