body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-hover-effect {
  background-color: white;
  color: black;
  transition: all 0.4s ease-in-out;
}

.card-hover-effect:hover {
  background-color: #000 !important; /* Fondo negro al hacer hover */
  color: white;
  transform: translateY(-5px) !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-hover-effect:hover * {
  color: white !important; /* Fuerza el texto blanco dentro */
}
